<!DOCTYPE html>
<html>
<head>
	<title>Wikipedia Search Engine</title>
</head>
<body>
	<h1>SEARCH ANYTHAANG</h1>

	<!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
	<form action="/" method="GET">
	  <p><input type="text" name="q"/></p>
	  <p><input type="range" step="0.01" name="w" min="0" max="1" /></p>
	  <input type="submit" value="Search"/>
	</form>

	{% if results|length == 0 %}
		<p class="no_results">No results found</p>
	{% endif %}
	{% for key in results %}
		<p class="doc_title">{{key.title}}</p>
		<p class="doc_summary">{{key.summary}}</p>
	{% endfor %}

</body>
</html>